<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <title>Signin Template for Bootstrap</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link href="http://cdn.bootcss.com/bootstrap/3.3.2/css/bootstrap.min.css"rel="stylesheet">
    <script src="{% static 'js/jquery-2.0.3.min.js' %}"></script>

  </head>

  <body>
<form class="form" method="post" action="/deal/login/">
   {% csrf_token %}
    <div class="container">
      <div class="col-lg-4 col-lg-offset-4 col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2" id="logindev">
      

        <h2>Please sign in</h2>
        <label for="inputEmail" class="field">Email address</label>
        <input type="text" name  = "username" id="inputusername" class="form-control" >
        <label for="inputPassword" class="field">Password</label>
        <input type="password" name = "password" id="inputPassword" class="form-control" placeholder="Password" required="">   

        
        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        <div>没有账号,请<a href="/deal/register">注册</a></div>
     
    </div>
  </div> <!-- /container -->

         </form>
</body>
</html>